
body { 
    margin: 0; 
    background-color: black;
}
  
canvas {
position: fixed;
top: 0;
left: 0;
transition: 1.5s;
opacity: 0;
}

canvas { width: 100%; height: 100% }

main {
    position: relative;
width: 100%;
color: white;
position: absolute;
width: 100%;
text-align: center;
font-size: 0.8cm;
height: 100%;
}

.gameUI{
    opacity: 0;
}

#resetImg{
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#reload_button{
    width: 3cm;
    height: 3cm;
    float: right;
    margin: 0.5cm;
    position: relative;
    background-color: transparent;
    border: none;
}
#levelCounter{
    width: 5cm;
    margin: 0.5cm;
    float: left;
    position: absolute;
}

h1{
    margin-top: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #4596AD;
    transition: 1s;
}
